.tech {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.teach:first-of-type{
    margin-top: 10px;
}


.loading {
    margin-top: 11px;
padding-left: 25%;
color:rgba(77, 77, 77, 1);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 16.41px;
    text-align: left;
}
