.sendForm {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 44px;
    margin-bottom: 35px;
}

.textarea {
    width: 975px;
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: rgb(245, 247, 251);
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    padding: 12px 24px;
    resize: none;
    border: none;

}

.button {
    background-color: rgba(0, 102, 204, 1);
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    padding: 10px 39px 10px 38px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;

}

.button:hover {

}

.button:active {

}
